

.about_all {
  height: 80vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 100px;
  color: #fff;
 
}
.drops{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.drop_down {
  display: flex;
  flex-direction: column;
  justify-content: start;
align-items: center;
padding-top: 20px;
  z-index: 10;
  cursor: pointer;
  width: 700px;
  height: 70px;
background-color: #ccc;
color: rgb(87, 87, 87);
  border-radius: 8px;
}
.drop1 {
  cursor: pointer;
  width: 700px;
  height: 70px;
  background-color: #ccc;
  color: rgb(87, 87, 87);
  border-radius: 8px;
}
.drop2 {
  cursor: pointer;
  width: 700px;
  height: 70px;
  background-color: #ccc;
  border-radius: 8px;
  color: rgb(87, 87, 87);
}
.drop_down2 {
  cursor: pointer;
  width: 700px;
  height: 70px;
background-color: #ccc;
  border-radius: 8px;
}
.texxt{
  margin-top: 20px;
}
.dropdown-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
  height: auto;
background-color: #ccc;
color: rgb(87, 87, 87);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.bike{
  width: 450px;
  height: 450px;
}
.drop1 , .drop2 {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.drop2 {
  gap: 20px;
}
.downloads{
  display: flex;
z-index: 1;
  gap: 10px;
}
.downloads a{
  text-decoration: none;
  color: white;
}
.downloads div{
  cursor: pointer;
  border-radius:40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 166px;
  height: 60px;
  background: linear-gradient(to right, rgb(73, 73, 73), black);
}
.downloads img {
  width: 40px;
  height: 40px;
}
