.menu-container {
  padding: 0 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  
}

.menu-items ul {

  display: flex;
  list-style-type: none;
  padding: 0;
  gap: 35px;

}

.menu-items li {
  cursor: pointer;
  margin-top: 20px;
  font-weight: 600;
  font-size: 20px;
  transition: all 0.3s;
  position: relative;
}

.menu-items li:hover {
  color: rgb(134, 132, 132);
  transform: translateY(-5px); 
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); 
}



.basket{
  width: 140px;
  height: 50px;
  background: linear-gradient(to right, grey, black);
  margin-right: 50px;
  border-radius: 30px;
  display: flex;
  font-size:25px;
  gap: 10px;
  color: white;
  justify-content: center;
  align-items: center;
  z-index: 100 ;
}
.count{
  margin-top: 10px;
}
.ri-shopping-basket-2-line{
  font-size: 24px;
}
