/* Header.css */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&family=Roboto:wght@300;400;500;700&display=swap');
.footer_all {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: black;
    color: white;
  }
  
  .header_logo img {
    width: 100px;
  }
  
  .footer_menus ul {
    list-style: none;
    display: flex;
  }
  .footer_menus{
    margin-top: 10px;
    display: flex;
    gap: 50px;
  }
  
  
 
  .footer_logo h1{
    font-family: 'Dancing Script';
color: white;
  }

    .to_up{
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 900;
      font-size: 25px;
      cursor: pointer;
      width: 50px;
      height: 50px;
      background:linear-gradient(to right, rgb(52, 51, 51), rgb(64, 64, 64));
      border-radius: 50%;
      color: white;
    }
  